body {
    background-color: #f0f8ff;
    font-family: Arial;
    text-align: center;
}
h1 {
    color: green;
    font-size: 30px;
}
p {
    font-size: 16px;
    color: black;
}
.box {
    background-color: lightgreen;
}
